@import '../../assets/vars/vars';
@import '../../assets/vars/media';

.services {
  display: flex;
  flex-direction: column;
  background: url("../../assets/images/bg-scroll-section.png")no-repeat;
  max-width: 1920px;
  height: 753px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.servicesDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1085px;
  margin: 0 auto;
}

.title {
  font-family: 'Bebas Neue';
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 20px;
  color: $yellow;
}

.subtitle {
  font-family: 'Gilroy';
  font-weight: 800;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.5px;
  color: $white;
  margin-top: 20px;

  @include media-breakpoint-down(lg) {
    font-size: 24px;
    padding: 0 20px;
    text-align: center;
  }
}

.scroll {
  max-width: 100%;
}
