*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  max-width: 1920px;
  margin: 0 auto;
}

.container{
  overflow: hidden;
}

@font-face {
  font-family: Proxima Nova;
  src: url("assets/fonts/ProximaNova-Regular.ttf");
}

@font-face {
  font-family: Proxima Nova;
  src: url("assets/fonts/Gilroy-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Gilroy;
  src: url("assets/fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: Gilroy;
  src: url("assets/fonts/ProximaNova-Bold.ttf");
  font-weight: bold;
}